{% extends 'crm/base.html' %}
{% load static %}

{% block content %}


  <hr>
  <br>
  <br>
  <hr>


<br>
<br>
<br>
<br>
<br>

  <img src="{% static 'crm/img/admin.png' %}" class="rounded" alt="flower">
<br>
<hr>
<br>
<br>
<br>

  <img src="{% static 'crm/img/admin1.png' %}" class="rounded" alt="flower"> -->
  <br>
  <br>
  <br>

<br>
<hr>
<br>
<br>
<br>

  <img src="{% static 'crm/img/cassandra.png' %}" class="rounded" alt="flower"> -->
  <br>
  <br>
  <br>

<br>
<hr>
<br>

  <img src="{% static 'crm/img/buffered.png' %}" class="rounded" alt="flower"> -->
  <br>
  <br>
  <br>


  <br>
  <hr>
<br>


  <img src="{% static 'crm/img/expired.png' %}" class="rounded" alt="flower"> -->
  <br>
  <br>
  <br>
<br>


  {% endblock  %}
