{% extends 'crm/base.html' %}
<!-- {% load static %}
<link href="{% static 'crm/css/main.css' %}" rel="stylesheet"> -->

{% block content %}


  {% include 'crm/status.html' %}
  <br>
 

<!--  <div class="container-fluid">-->
<!--    <div class="row justify-content-center">-->
<!--        <div class="col-md-3" style="">Route 6994 GT 3197015001052 Concat SMS Comfone</div>-->
<!--    </div>-->
<!--</div>-->
<!--<br>-->
<!--<br>-->


<!--  <div class="row">-->
<!--      <div class="col-md-3">-->
<!--          <a >Success Percentage</a>-->
<!--          <hr>-->
<!--          <div class="card card-body">-->
<!--              <a class="btn btn-primary  btn-sm btn-block" id="suc-percentage"  href="">Total success</a>-->
<!--                <table class="table table-sm">-->
<!--                  <tr>-->
<!--                      <th>Time</th>-->
<!--                      <th>Total</th>-->
<!--                      <th>Success</th>-->
<!--                      <th>Failed</th>-->
<!--                      <th>Success Rate</th>-->
<!--                  </tr>-->
<!--                       {% for 1a in row1_1a %}-->
<!--                  <tr>-->
<!--                         <td>{{ 1a.time }}</td>  <td id='' value=''>{{ 1a.total }}</td>  <td id='' value=''>{{ 1a.success }}</td>    <td>{{ 1a.failed }}</td>  <td><span id=successPer_min0_smsc_2_eu4></span></td>-->
<!--                    </tr>-->
<!--                       {% endfor %}-->
<!--                </table>-->
<!--          </div>-->
<!--      </div>-->
<!--      -->
<!--      <div class="col-md-2">-->
<!--          <a>Primary smsc-2-eu4</a>-->
<!--          <hr>-->
<!--          <div class="card card-body">-->
<!--              <a class="btn btn-primary  btn-sm btn-block" id="sri-percentage" href="">SRI Failures </a>-->
<!--              <table class="table table-sm">-->
<!--                  <tr>-->
<!--                      <th>Time</th>-->
<!--                      <th>Timeout</th>-->
<!--                  </tr>-->
<!--                       {% for 1b in row1_1b %}-->
<!--                  <tr>-->
<!--                         <td>{{ 1b.time }}</td>  <td id='' value=''>{{ 1b.total }}</td>-->
<!--                    </tr>-->
<!--                       {% endfor %}-->
<!--              </table>-->
<!--          </div>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--            <a>Primary smsc-2-eu4</a>-->
<!--            <hr>-->
<!--            <div class="card card-body">-->
<!--                <a class="btn btn-primary  btn-sm btn-block" id="row1-3" href="">MTFS Failures</a>-->
<!--                <table class="table table-sm">-->
<!--                    <tr>-->
<!--                        <th>Time</th>-->
<!--                        <th>Timeout</th>-->
<!--                        <th>Sys_Fail</th>-->
<!--                    </tr>-->
<!--                       {% for 1c in row1_1c %}-->
<!--                  <tr>-->
<!--                         <td>{{ 1c.time }}</td>  <td id='' value=''>{{ 1c.total }}</td> <td id='' value=''>{{ 1c.failed }}</td>-->
<!--                    </tr>-->
<!--                       {% endfor %}-->
<!--              </table>-->
<!--            </div>-->
<!--        </div>-->


<!--        <div class="col-md-2">-->
<!--                <a>Failover smsc-2-eu1</a>-->
<!--                <hr>-->
<!--                <div class="card card-body">-->
<!--                    <a class="btn btn-primary  btn-sm btn-block" id="row1-4" href="">SRI Failures</a>-->
<!--                    <table class="table table-sm">-->
<!--                        <tr>-->
<!--                            <th>Time</th>-->
<!--                            <th>Timeout</th>-->
<!--                         </tr>-->
<!--                       {% for 1d in row1_1d %}-->
<!--                  <tr>-->
<!--                         <td>{{ 1d.time }}</td>  <td id='' value=''>{{ 1d.total }}</td>-->
<!--                    </tr>-->
<!--                       {% endfor %}-->
<!--              </table>-->
<!--                </div>-->
<!--            </div>-->


<!--            <div class="col-md-2">-->
<!--                    <a>Failover smsc-2-eu1</a>-->
<!--                    <hr>-->
<!--                    <div class="card card-body">-->
<!--                        <a class="btn btn-primary  btn-sm btn-block" id="row1-5" href="">MTFS Failures</a>-->
<!--                        <table class="table table-sm">-->
<!--                            <tr>-->
<!--                                <th>Time</th>-->
<!--                                <th>Timeout</th>-->
<!--                                <th>Sys_Fail</th>-->
<!--                           </tr>-->
<!--                       {% for 1e in row1_1e %}-->
<!--                  <tr>-->
<!--                         <td>{{ 1e.time }}</td>  <td id='' value=''>{{ 1e.total }}</td> <td id='' value=''>{{ 1e.failed }}</td>-->
<!--                    </tr>-->
<!--                       {% endfor %}-->
<!--              </table>-->
<!--                    </div>-->
<!--                </div>-->
<!--  </div>-->
<!--  -->
<!--<hr>-->
<!--<br>-->
<!--<br>-->


<!--<div class="container-fluid">-->
<!--    <div class="row justify-content-center">-->
<!--        <div class="col-md-3" style="">Route 6995 GT 3197015001050 Concat SMS Syniverse</div>-->
<!--    </div>-->
<!--</div>-->

<!--<br>-->
<!--<div class="row">-->
<!--    <div class="col-md-3">-->
<!--        <a >Success Percentage</a>-->
<!--        <hr>-->
<!--        <div class="card card-body">-->
<!--            <a class="btn btn-primary  btn-sm btn-block" id="suc-percentage"  href="">Total success</a>-->
<!--            <table class="table table-sm">-->
<!--                <tr>-->
<!--                    <th>Time</th>-->
<!--                    <th>Total</th>-->
<!--                    <th>Success</th>-->
<!--                    <th>Failed</th>-->
<!--                    <th>Success Rate</th>-->
<!--               </tr>-->
<!--                       {% for 2a in row1_2a %}-->
<!--                  <tr>-->
<!--                         <td>{{ 2a.time }}</td>  <td id='' value=''>{{ 2a.total }}</td>  <td id='' value=''>{{ 2a.success }}</td>    <td>{{ 2a.failed }}</td>  <td><span id=successPer_min0_smsc_2_eu4></span></td>-->
<!--                    </tr>-->
<!--                       {% endfor %}-->
<!--              </table>-->
<!--        </div>-->
<!--    </div>-->
<!--    -->
<!--    <div class="col-md-2">-->
<!--        <a>Primary smsc-2-eu1</a>-->
<!--        <hr>-->
<!--        <div class="card card-body">-->
<!--            <a class="btn btn-primary  btn-sm btn-block" id="sri-percentage" href="">SRI Failures</a>-->
<!--            <table class="table table-sm">-->
<!--                <tr>-->
<!--                    <th>Time</th>-->
<!--                    <th>Timeout</th>-->
<!--                </tr>-->
<!--                       {% for 2b in row1_2b %}-->
<!--                  <tr>-->
<!--                         <td>{{ 2b.time }}</td>  <td id='' value=''>{{ 2b.total }}</td>-->
<!--                    </tr>-->
<!--                       {% endfor %}-->
<!--              </table>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-md-2">-->
<!--          <a>Primary smsc-2-eu1</a>-->
<!--          <hr>-->
<!--          <div class="card card-body">-->
<!--              <a class="btn btn-primary  btn-sm btn-block" id="row1-3" href="">MTFS Failures</a>-->
<!--              <table class="table table-sm">-->
<!--                  <tr>-->
<!--                      <th>Time</th>-->
<!--                      <th>Timeout</th>-->
<!--                      <th>Sys_Fail</th>-->
<!--                  </tr>-->
<!--                       {% for 2c in row1_2c %}-->
<!--                  <tr>-->
<!--                         <td>{{ 2c.time }}</td>  <td id='' value=''>{{ 2c.total }}</td> <td id='' value=''>{{ 2c.failed }}</td>-->
<!--                    </tr>-->
<!--                       {% endfor %}-->
<!--              </table>-->
<!--          </div>-->
<!--      </div>-->


<!--      <div class="col-md-2">-->
<!--              <a>Failover smsc-2-eu4</a>-->
<!--              <hr>-->
<!--              <div class="card card-body">-->
<!--                  <a class="btn btn-primary  btn-sm btn-block" id="row1-4" href="">SRI Failures</a>-->
<!--                  <table class="table table-sm">-->
<!--                      <tr>-->
<!--                          <th>Time</th>-->
<!--                          <th>Timeout</th>-->
<!--                      </tr>-->
<!--                       {% for 2d in row1_2d %}-->
<!--                  <tr>-->
<!--                         <td>{{ 2d.time }}</td>  <td id='' value=''>{{ 2d.total }}</td>-->
<!--                    </tr>-->
<!--                       {% endfor %}-->
<!--              </table>-->
<!--              </div>-->
<!--          </div>-->


<!--          <div class="col-md-2">-->
<!--                  <a>Failover smsc-2-eu4</a>-->
<!--                  <hr>-->
<!--                  <div class="card card-body">-->
<!--                      <a class="btn btn-primary  btn-sm btn-block" id="row1-5" href="">MTFS Failures</a>-->
<!--                      <table class="table table-sm">-->
<!--                          <tr>-->
<!--                              <th>Time</th>-->
<!--                              <th>Timeout</th>-->
<!--                              <th>Sys_Fail</th>-->
<!--                          </tr>-->
<!--                       {% for 2e in row1_2e %}-->
<!--                  <tr>-->
<!--                         <td>{{ 2e.time }}</td>  <td id='' value=''>{{ 2e.total }}</td> <td id='' value=''>{{ 2e.failed }}</td>-->
<!--                    </tr>-->
<!--                       {% endfor %}-->
<!--              </table>-->
<!--                  </div>-->
<!--              </div>-->
<!--</div>-->

<!--<hr>-->
<!--<br>-->
<!--<br>-->


<!--<div class="container-fluid">-->
<!--    <div class="row justify-content-center">-->
<!--        <div class="col-md-3" style="">Route 6908 GT 3197015001051 None Concat SMS Syniverse</div>-->
<!--    </div>-->
<!--</div>-->

<!--<br>-->
<!--<div class="row">-->
<!--    <div class="col-md-3">-->
<!--        <a >Success Percentage</a>-->
<!--        <hr>-->
<!--        <div class="card card-body">-->
<!--            <a class="btn btn-primary  btn-sm btn-block" id="suc-percentage"  href="">Total success</a>-->
<!--            <table class="table table-sm">-->
<!--                <tr>-->
<!--                    <th>Time</th>-->
<!--                    <th>Total</th>-->
<!--                    <th>Success</th>-->
<!--                    <th>Failed</th>-->
<!--                    <th>Success Rate</th>-->
<!--               </tr>-->
<!--                       {% for 3a in row1_3a %}-->
<!--                  <tr>-->
<!--                         <td>{{ 3a.time }}</td>  <td id='' value=''>{{ 3a.total }}</td>  <td id='' value=''>{{ 3a.success }}</td>    <td>{{ 3a.failed }}</td>  <td><span id=successPer_min0_smsc_2_eu4></span></td>-->
<!--                    </tr>-->
<!--                       {% endfor %}-->
<!--              </table>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="col-md-2">-->
<!--        <a>Loadshared all SMSC </a>-->
<!--        <hr>-->
<!--        <div class="card card-body">-->
<!--            <a class="btn btn-primary  btn-sm btn-block" id="sri-percentage" href="">SRI Failures</a>-->
<!--            <table class="table table-sm">-->
<!--                <tr>-->
<!--                    <th>Time</th>-->
<!--                    <th>Timeout</th>-->
<!--                </tr>-->
<!--                       {% for 3b in row1_3b %}-->
<!--                  <tr>-->
<!--                         <td>{{ 3b.time }}</td>  <td id='' value=''>{{ 3b.total }}</td>-->
<!--                    </tr>-->
<!--                       {% endfor %}-->
<!--              </table>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-md-2">-->
<!--          <a>Loadshared all SMSC</a>-->
<!--          <hr>-->
<!--          <div class="card card-body">-->
<!--              <a class="btn btn-primary  btn-sm btn-block" id="row1-3" href="">MTFS Failures</a>-->
<!--              <table class="table table-sm">-->
<!--                  <tr>-->
<!--                      <th>Time</th>-->
<!--                      <th>Timeout</th>-->
<!--                      <th>Sys_Fail</th>-->
<!--                  </tr>-->
<!--                       {% for 3c in row1_3c %}-->
<!--                  <tr>-->
<!--                         <td>{{ 3c.time }}</td>  <td id='' value=''>{{ 3c.total }}</td> <td id='' value=''>{{ 3c.failed }}</td>-->
<!--                    </tr>-->
<!--                       {% endfor %}-->
<!--              </table>-->
<!--          </div>-->
<!--      </div>-->



<!--</div>-->

<!--<hr>-->
<!--<br>-->
<!--<br>-->


<!--<div class="container-fluid">-->
<!--    <div class="row justify-content-center">-->
<!--        <div class="col-md-3" style="">Route 6909 GT 3197015001053 None Concat SMS Comfone</div>-->
<!--    </div>-->
<!--</div>-->

<!--<br>-->
<!--<div class="row">-->
<!--    <div class="col-md-3">-->
<!--        <a >Success Percentage</a>-->
<!--        <hr>-->
<!--        <div class="card card-body">-->
<!--            <a class="btn btn-primary  btn-sm btn-block" id="suc-percentage"  href="">Total success</a>-->
<!--            <table class="table table-sm">-->
<!--                <tr>-->
<!--                    <th>Time</th>-->
<!--                    <th>Total</th>-->
<!--                    <th>Success</th>-->
<!--                    <th>Failed</th>-->
<!--                    <th>Success Rate</th>-->
<!--               </tr>-->
<!--                       {% for 4a in row1_4a %}-->
<!--                  <tr>-->
<!--                         <td>{{ 4a.time }}</td>  <td id='' value=''>{{ 4a.total }}</td>  <td id='' value=''>{{ 4a.success }}</td>    <td>{{ 4a.failed }}</td>  <td><span id=successPer_min0_smsc_2_eu4></span></td>-->
<!--                    </tr>-->
<!--                       {% endfor %}-->
<!--              </table>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="col-md-2">-->
<!--        <a>Loadshared all SMSC </a>-->
<!--        <hr>-->
<!--        <div class="card card-body">-->
<!--            <a class="btn btn-primary  btn-sm btn-block" id="sri-percentage" href="">SRI Failures</a>-->
<!--            <table class="table table-sm">-->
<!--                <tr>-->
<!--                    <th>Time</th>-->
<!--                    <th>Timeout</th>-->
<!--                </tr>-->
<!--                       {% for 4b in row1_4b %}-->
<!--                  <tr>-->
<!--                         <td>{{ 4b.time }}</td>  <td id='' value=''>{{ 4b.total }}</td>-->
<!--                    </tr>-->
<!--                       {% endfor %}-->
<!--              </table>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-md-2">-->
<!--          <a>Loadshared all SMSC</a>-->
<!--          <hr>-->
<!--          <div class="card card-body">-->
<!--              <a class="btn btn-primary  btn-sm btn-block" id="row1-3" href="">MTFS Failures</a>-->
<!--              <table class="table table-sm">-->
<!--                  <tr>-->
<!--                      <th>Time</th>-->
<!--                      <th>Timeout</th>-->
<!--                      <th>Sys_Fail</th>-->
<!--                  </tr>-->
<!--                       {% for 4c in row1_4c %}-->
<!--                  <tr>-->
<!--                         <td>{{ 4c.time }}</td>  <td id='' value=''>{{ 4c.total }}</td> <td id='' value=''>{{ 4c.failed }}</td>-->
<!--                    </tr>-->
<!--                       {% endfor %}-->
<!--              </table>-->
<!--          </div>-->
<!--      </div>-->



<!--</div>-->

<!--<hr>-->
<!--<br>-->
<!--<br>-->




<!--<hr><br><br>-->
<!--Add some test data-->
<!--<hr>-->
<!--<form class="" action="" method="POST">-->
<!--	{% csrf_token %}-->
<!--	{{ form.as_p }}-->
<!--	<input class="btn btn-large btn-primary" type="Submit" name="insertFBdata" value="insertFBdata" />-->
<!--</form>-->

<!--<hr>-->
<!--<br>-->
<!--<br>-->




<hr>


  <div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-3" style="">Route 6994 GT 3197015001052 Concat SMS Comfone</div>
    </div>
</div>
<br>
<br>


  <div class="row">
      <div class="col-md-3">
          <a >Success Percentage</a>
          <hr>
          <div class="card card-body">
              <a class="btn btn-primary  btn-sm btn-block" id="suc-percentage"  href="">Total success</a>
                <table class="table table-sm">
                  <tr>
                      <th>Time</th>
                      <th>Total</th>
                      <th>Success</th>
                      <th>Failed</th>
                      <th>Success Rate</th>
                  </tr>
                       {% for fb_1 in cdrTable_fb_1 %}
                  <tr>
                         <td>{{ fb_1.time }}</td>  <td id='' value=''>{{ fb_1.total }}</td>  <td id='' value=''>{{ fb_1.success }}</td>    <td>{{ fb_1.failed1 }}</td>  <td><span id=fb_1></span></td>
                    </tr>
                       {% endfor %}
                </table>
          </div>
      </div>

      <div class="col-md-2">
          <a>Primary smsc-2-eu4</a>
          <hr>
          <div class="card card-body">
              <a class="btn btn-primary  btn-sm btn-block" id="sri-percentage" href="">SRI Failures </a>
              <table class="table table-sm">
                  <tr>
                      <th>Time</th>
                      <th>Timeout</th>
                  </tr>
                       {% for fb_1 in cdrTable_fb_1 %}
                  <tr>
                         <td>{{ fb_1.time }}</td>  <td id='' value=''>{{ fb_1.failed2 }}</td>
                    </tr>
                       {% endfor %}
              </table>
          </div>
      </div>
      <div class="col-md-2">
            <a>Primary smsc-2-eu4</a>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" id="row1-3" href="">MTFS Failures</a>
                <table class="table table-sm">
                    <tr>
                        <th>Time</th>
                        <th>Timeout</th>
                        <th>Sys_Fail</th>
                    </tr>
                       {% for fb_1 in cdrTable_fb_1 %}
                  <tr>
                         <td>{{ fb_1.time }}</td>  <td id='' value=''>{{ fb_1.failed3 }}</td> <td id='' value=''>{{ fb_1.failed4 }}</td>
                    </tr>
                       {% endfor %}
              </table>
            </div>
        </div>


        <div class="col-md-2">
                <a>Failover smsc-2-eu1</a>
                <hr>
                <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="row1-4" href="">SRI Failures</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                         </tr>
                       {% for fb_1 in cdrTable_fb_1 %}
                  <tr>
                         <td>{{ fb_1.time }}</td>  <td id='' value=''>{{ fb_1.failed5 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>
            </div>


            <div class="col-md-2">
                    <a>Failover smsc-2-eu1</a>
                    <hr>
                    <div class="card card-body">
                        <a class="btn btn-primary  btn-sm btn-block" id="row1-5" href="">MTFS Failures</a>
                        <table class="table table-sm">
                            <tr>
                                <th>Time</th>
                                <th>Timeout</th>
                                <th>Sys_Fail</th>
                           </tr>
                       {% for fb_1 in cdrTable_fb_1 %}
                  <tr>
                         <td>{{ fb_1.time }}</td>  <td id='' value=''>{{ fb_1.failed6 }}</td> <td id='' value=''>{{ fb_1.failed7 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                    </div>
                </div>
  </div>


<hr>
<br>
<br>


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-3" style="">Route 6995 GT 3197015001050 Concat SMS Syniverse</div>
    </div>
</div>

<br>
<div class="row">
    <div class="col-md-3">
        <a >Success Percentage</a>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block" id="suc-percentage"  href="">Total success</a>
            <table class="table table-sm">
                <tr>
                    <th>Time</th>
                    <th>Total</th>
                    <th>Success</th>
                    <th>Failed</th>
                    <th>Success Rate</th>
               </tr>
                       {% for fb_2 in cdrTable_fb_2 %}
                  <tr>
                         <td>{{ fb_2.time }}</td>  <td id='' value=''>{{ fb_2.total }}</td>  <td id='' value=''>{{ fb_2.success }}</td>    <td>{{ fb_2.failed1 }}</td>  <td><span id=fb_2></span></td>
                    </tr>
                       {% endfor %}
              </table>
        </div>
    </div>

    <div class="col-md-2">
        <a>Primary smsc-2-eu1</a>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block" id="sri-percentage" href="">SRI Failures</a>
            <table class="table table-sm">
                <tr>
                    <th>Time</th>
                    <th>Timeout</th>
                </tr>
                       {% for fb_2 in cdrTable_fb_2 %}
                  <tr>
                         <td>{{ fb_2.time }}</td>  <td id='' value=''>{{ fb_2.failed2 }}</td>
                    </tr>
                       {% endfor %}
              </table>
        </div>
    </div>
    <div class="col-md-2">
          <a>Primary smsc-2-eu1</a>
          <hr>
          <div class="card card-body">
              <a class="btn btn-primary  btn-sm btn-block" id="row1-3" href="">MTFS Failures</a>
              <table class="table table-sm">
                  <tr>
                      <th>Time</th>
                      <th>Timeout</th>
                      <th>Sys_Fail</th>
                  </tr>
                       {% for fb_2 in cdrTable_fb_2 %}
                  <tr>
                         <td>{{ fb_2.time }}</td>  <td id='' value=''>{{ fb_2.failed3 }}</td> <td id='' value=''>{{ fb_2.failed4 }}</td>
                    </tr>
                       {% endfor %}
              </table>
          </div>
      </div>


      <div class="col-md-2">
              <a>Failover smsc-2-eu4</a>
              <hr>
              <div class="card card-body">
                  <a class="btn btn-primary  btn-sm btn-block" id="row1-4" href="">SRI Failures</a>
                  <table class="table table-sm">
                      <tr>
                          <th>Time</th>
                          <th>Timeout</th>
                      </tr>
                       {% for fb_2 in cdrTable_fb_2 %}
                  <tr>
                         <td>{{ fb_2.time }}</td>  <td id='' value=''>{{ fb_2.failed5 }}</td>
                    </tr>
                       {% endfor %}
              </table>
              </div>
          </div>


          <div class="col-md-2">
                  <a>Failover smsc-2-eu4</a>
                  <hr>
                  <div class="card card-body">
                      <a class="btn btn-primary  btn-sm btn-block" id="row1-5" href="">MTFS Failures</a>
                      <table class="table table-sm">
                          <tr>
                              <th>Time</th>
                              <th>Timeout</th>
                              <th>Sys_Fail</th>
                          </tr>
                       {% for fb_2 in cdrTable_fb_2 %}
                  <tr>
                         <td>{{ fb_2.time }}</td>  <td id='' value=''>{{ fb_2.failed6 }}</td> <td id='' value=''>{{ fb_2.failed7 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                  </div>
              </div>
</div>

<hr>


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-3" style="">Route 6908 GT 3197015001051 None Concat SMS Syniverse</div>
    </div>
</div>

<br>
<div class="row">
    <div class="col-md-3">
        <a >Success Percentage</a>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block" id="suc-percentage"  href="">Total success</a>
            <table class="table table-sm">
                <tr>
                    <th>Time</th>
                    <th>Total</th>
                    <th>Success</th>
                    <th>Failed</th>
                    <th>Success Rate</th>
               </tr>
                       {% for fb_3 in cdrTable_fb_3 %}
                  <tr>
                         <td>{{ fb_3.time }}</td>  <td id='' value=''>{{ fb_3.total }}</td>  <td id='' value=''>{{ fb_3.success }}</td>    <td>{{ fb_3.failed1 }}</td>  <td><span id=fb_3></span></td>
                    </tr>
                       {% endfor %}
              </table>
        </div>
    </div>

    <div class="col-md-2">
        <a>Loadshared all SMSC </a>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block" id="sri-percentage" href="">SRI Failures</a>
            <table class="table table-sm">
                <tr>
                    <th>Time</th>
                    <th>Timeout</th>
                </tr>
                       {% for fb_3 in cdrTable_fb_3 %}
                  <tr>
                         <td>{{ fb_3.time }}</td>  <td id='' value=''>{{ fb_3.failed2 }}</td>
                    </tr>
                       {% endfor %}
              </table>
        </div>
    </div>
    <div class="col-md-2">
          <a>Loadshared all SMSC</a>
          <hr>
          <div class="card card-body">
              <a class="btn btn-primary  btn-sm btn-block" id="row1-3" href="">MTFS Failures</a>
              <table class="table table-sm">
                  <tr>
                      <th>Time</th>
                      <th>Timeout</th>
                      <th>Sys_Fail</th>
                  </tr>
                       {% for fb_3 in cdrTable_fb_3 %}
                  <tr>
                         <td>{{ fb_3.time }}</td>  <td id='' value=''>{{ fb_3.failed3 }}</td> <td id='' value=''>{{ fb_3.failed4 }}</td>
                    </tr>
                       {% endfor %}
              </table>
          </div>
      </div>



</div>

<hr>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-3" style="">Route 6909 GT 3197015001053 None Concat SMS Comfone</div>
    </div>
</div>

<br>
<div class="row">
    <div class="col-md-3">
        <a >Success Percentage</a>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block" id="suc-percentage"  href="">Total success</a>
            <table class="table table-sm">
                <tr>
                    <th>Time</th>
                    <th>Total</th>
                    <th>Success</th>
                    <th>Failed</th>
                    <th>Success Rate</th>
               </tr>
                       {% for fb_4 in cdrTable_fb_4 %}
                  <tr>
                         <td>{{ fb_4.time }}</td>  <td id='' value=''>{{ fb_4.total }}</td>  <td id='' value=''>{{ fb_4.success }}</td>    <td>{{ fb_4.failed1 }}</td>  <td><span id=fb_4></span></td>
                    </tr>
                       {% endfor %}
              </table>
        </div>
    </div>

    <div class="col-md-2">
        <a>Loadshared all SMSC </a>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block" id="sri-percentage" href="">SRI Failures</a>
            <table class="table table-sm">
                <tr>
                    <th>Time</th>
                    <th>Timeout</th>
                </tr>
                       {% for fb_4 in cdrTable_fb_4 %}
                  <tr>
                         <td>{{ fb_4.time }}</td>  <td id='' value=''>{{ fb_4.failed2 }}</td>
                    </tr>
                       {% endfor %}
              </table>
        </div>
    </div>
    <div class="col-md-2">
          <a>Loadshared all SMSC</a>
          <hr>
          <div class="card card-body">
              <a class="btn btn-primary  btn-sm btn-block" id="row1-3" href="">MTFS Failures</a>
              <table class="table table-sm">
                  <tr>
                      <th>Time</th>
                      <th>Timeout</th>
                      <th>Sys_Fail</th>
                  </tr>
                       {% for fb_4 in cdrTable_fb_4 %}
                  <tr>
                         <td>{{ fb_4.time }}</td>  <td id='' value=''>{{ fb_4.failed3 }}</td> <td id='' value=''>{{ fb_4.failed4 }}</td>
                    </tr>
                       {% endfor %}
              </table>
          </div>
      </div>



</div>

<hr>




{% include 'crm/jquery.html' %}

    
{% endblock  %}