

{% load static %}



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="{% static 'crm/img/cake2.jpg' %}" class="rounded" alt="flower">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/crm">SG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'crm:newSG' %}">SG_v2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'crm:fb' %}">FB</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'crm:form_submit' %}">SMSC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'crm:esme_dlr' %}">ESME_DLR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'crm:sendSMS' %}">sendSMS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'crm:chat_box' %}">Chat_Box</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'crm:ss7hub' %}">ss7hub</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'crm:srilookup' %}">srilookup</a>
        </li>
      </ul>
    </div>
  </nav>