{% extends 'crm/base.html' %}


{% block content %}



{% include 'crm/status.html' %}
<br>
<h1></h1>
<hr>

  <div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-3" style=""></div>
    </div>
</div>



  <div class="row">
      <div class="col-md-3">
          <a >Success Percentage</a>
          <hr>
          <div class="card card-body">
              <a class="btn btn-primary  btn-sm btn-block" id="suc-percentage"  href="">Total success</a>
                <table class="table table-sm">
                  <tr>
                      <th>Time</th>
                      <th>Total</th>
                      <th>Success</th>
                      <th>Failed</th>
                      <th>Success Rate</th>
                  </tr>
                       {% for sg_10 in cdrTable_sg_10 %}
                  <tr>
                         <td>{{ sg_10.time }}</td>  <td id='sg_10.total' value=''>{{ sg_10.total }}</td>  <td id='sg_10.success' value=''>{{ sg_10.success }}</td>    <td>{{ sg_10.failed1 }}</td>  <td><span id=sg_10></span>  </td>
                    </tr>
                       {% endfor %}
                </table>
          </div>
      </div>

      <div class="col-md-2">
          <a>All MNOs</a>
          <hr>
          <div class="card card-body">
              <a class="btn btn-primary  btn-sm btn-block" id="sri-percentage" href="">SRI Failures </a>
              <table class="table table-sm">
                  <tr>
                      <th>Time</th>
                      <th>Timeout</th>
                  </tr>
                       {% for sg_10 in cdrTable_sg_10 %}
                  <tr>
                         <td>{{ sg_10.time }}</td>  <td id='' value=''>{{ sg_10.failed2 }}</td>
                    </tr>
                       {% endfor %}
              </table>
          </div>
      </div>
      <div class="col-md-2">
            <a>SingTel MT 52501</a>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" id="row1-3" href="">MT Failures</a>
                <table class="table table-sm">
                    <tr>
                        <th>Time</th>
                        <th>Timeout</th>
                        <th>Sys_Fail</th>
                    </tr>
                       {% for sg_10 in cdrTable_sg_10 %}
                  <tr>
                         <td>{{ sg_10.time }}</td>  <td id='' value=''>{{ sg_10.failed3 }}</td> <td id='' value=''>{{ sg_10.failed4}}</td>
                    </tr>
                       {% endfor %}
              </table>
            </div>
        </div>


        <div class="col-md-2">
                <a>M1 MT 52503</a>
                <hr>
                <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="row1-4" href="">MT Failuress</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for sg_10 in cdrTable_sg_10 %}
                  <tr>
                         <td>{{ sg_10.time }}</td>  <td id='' value=''>{{ sg_10.failed5 }}</td> <td id='' value=''>{{ sg_10.failed6 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>
            </div>


            <div class="col-md-2">
                    <a>StarHub MT 52505</a>
                    <hr>
                    <div class="card card-body">
                        <a class="btn btn-primary  btn-sm btn-block" id="row1-5" href="">MTFS Failures</a>
                        <table class="table table-sm">
                            <tr>
                                <th>Time</th>
                                <th>Timeout</th>
                                <th>Sys_Fail</th>
                           </tr>
                       {% for sg_10 in cdrTable_sg_10 %}
                  <tr>
                         <td>{{ sg_10.time }}</td>  <td id='' value=''>{{ sg_10.failed7 }}</td> <td id='' value=''>{{ sg_10.failed8 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                    </div>
                </div>
  </div>

<hr>
<br>
<br>


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-3" style="">SRI Timeout GT 3197015001050 diff carrier</div>
    </div>
</div>

<br>
<div class="row">
        <div class="col-md-3">
                <a>SRI timeout breakdown 1 GT 3197015001050</a>
                <div class="card card-body">
                        <a class="btn btn-primary  btn-sm btn-block" id="bd-sri-percentage" href="">Route TATA</a>
                        <table class="table table-sm">
                            <tr>
                      <th>Time</th>
                      <th>Timeout</th>
                  </tr>
                       {% for sg_11 in cdrTable_sg_11 %}
                  <tr>
                         <td>{{ sg_11.time }}</td>  <td id='' value=''>{{ sg_11.failed1 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                    </div>

        </div>
        <div class="col-md-3">
                <a>SRI timeout breakdown 2 GT 3197015001050</a>
                <div class="card card-body">
                        <a class="btn btn-primary  btn-sm btn-block" id="bd-sri-percentage" href="">Route iBasis</a>
                        <table class="table table-sm">
                             <tr>
                      <th>Time</th>
                      <th>Timeout</th>
                  </tr>
                       {% for sg_11 in cdrTable_sg_11 %}
                  <tr>
                         <td>{{ sg_11.time }}</td>  <td id='' value=''>{{ sg_11.failed2 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                    </div>

        </div>
        <div class="col-md-3">
                <a>SRI timeout breakdown 3 GT 3197015001050</a>
                <div class="card card-body">
                        <a class="btn btn-primary  btn-sm btn-block" id="bd-sri-percentage" href="">Route Comfone</a>
                        <table class="table table-sm">
                            <tr>
                      <th>Time</th>
                      <th>Timeout</th>
                  </tr>
                       {% for sg_11 in cdrTable_sg_11 %}
                  <tr>
                         <td>{{ sg_11.time }}</td>  <td id='' value=''>{{ sg_11.failed3 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                    </div>

        </div>
        <div class="col-md-3">
                <a>SRI timeout breakdown 4 GT 3197015001050</a>
                <div class="card card-body">
                        <a class="btn btn-primary  btn-sm btn-block" id="bd-sri-percentage" href="">Route BICS</a>
                        <table class="table table-sm">
                            <tr>
                      <th>Time</th>
                      <th>Timeout</th>
                  </tr>
                       {% for sg_11 in cdrTable_sg_11 %}
                  <tr>
                         <td>{{ sg_11.time }}</td>  <td id='' value=''>{{ sg_11.failed4 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                    </div>
        </div>
</div>
<hr>
<br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-3" style="">SRI Timeout GT 61491500050 diff carrier</div>
    </div>
</div>
<br>


<div class="row">
        <div class="col-md-3">
                <a>SRI timeout breakdown 1 GT 61491500050</a>
                <div class="card card-body">
                        <a class="btn btn-primary  btn-sm btn-block" id="bd-sri-percentage" href="">Route TATA</a>
                        <table class="table table-sm">
                            <tr>
                      <th>Time</th>
                      <th>Timeout</th>
                  </tr>
                       {% for sg_12 in cdrTable_sg_12 %}
                  <tr>
                         <td>{{ sg_12.time }}</td>  <td id='' value=''>{{ sg_12.failed1 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                    </div>

        </div>
        <div class="col-md-3">
                <a>SRI timeout breakdown 2 GT 61491500050</a>
                <div class="card card-body">
                        <a class="btn btn-primary  btn-sm btn-block" id="bd-sri-percentage" href="">Route iBasis</a>
                        <table class="table table-sm">
                             <tr>
                      <th>Time</th>
                      <th>Timeout</th>
                  </tr>
                       {% for sg_12 in cdrTable_sg_12 %}
                  <tr>
                         <td>{{ sg_12.time }}</td>  <td id='' value=''>{{ sg_12.failed2 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                    </div>

        </div>
        <div class="col-md-3">
                <a>SRI timeout breakdown 3 GT 61491500050</a>
                <div class="card card-body">
                        <a class="btn btn-primary  btn-sm btn-block" id="bd-sri-percentage" href="">Route Comfone</a>
                        <table class="table table-sm">
                             <tr>
                      <th>Time</th>
                      <th>Timeout</th>
                  </tr>
                       {% for sg_12 in cdrTable_sg_12 %}
                  <tr>
                         <td>{{ sg_12.time }}</td>  <td id='' value=''>{{ sg_12.failed3 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                    </div>

        </div>
        <div class="col-md-3">
                <a>SRI timeout breakdown 4 GT 61491500050</a>
                <div class="card card-body">
                        <a class="btn btn-primary  btn-sm btn-block" id="bd-sri-percentage" href="">Route BICS</a>
                        <table class="table table-sm">
                             <tr>
                      <th>Time</th>
                      <th>Timeout</th>
                  </tr>
                       {% for sg_12 in cdrTable_sg_12 %}
                  <tr>
                         <td>{{ sg_12.time }}</td>  <td id='' value=''>{{ sg_12.failed4 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                    </div>
        </div>
</div>


<hr>
<br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-3" style="">FWSM Timeout GT 3197015001050 diff carrier</div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-3">
            <a>FWSM timeout breakdown 1 GT 3197015001050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="bd-mtfs-percentage" href="">Route TATA</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for sg_13 in cdrTable_sg_13 %}
                  <tr>
                         <td>{{ sg_13.time }}</td>  <td id='' value=''>{{ sg_13.failed1 }}</td> <td id='' value=''>{{ sg_13.failed2 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>
    </div>


    <div class="col-md-3">
            <a>FWSM timeout breakdown 2 GT 3197015001050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="bd-mtfs-percentage" href="">Route iBasis</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for sg_13 in cdrTable_sg_13 %}
                  <tr>
                         <td>{{ sg_13.time }}</td>  <td id='' value=''>{{ sg_13.failed3 }}</td> <td id='' value=''>{{ sg_13.failed4 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>

    </div>
    <div class="col-md-3">
            <a>FWSM timeout breakdown 3 GT 3197015001050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="bd-mtfs-percentage" href="">Route Comfone</a>
                    <table class="table table-sm">
                         <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for sg_13 in cdrTable_sg_13 %}
                  <tr>
                         <td>{{ sg_13.time }}</td>  <td id='' value=''>{{ sg_13.failed5 }}</td> <td id='' value=''>{{ sg_13.failed6 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>

    </div>
    <div class="col-md-3">
            <a>FWSM timeout breakdown 4 GT 3197015001050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="bd-mtfs-percentage" href="">Route BICS</a>
                    <table class="table table-sm">
                         <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for sg_13 in cdrTable_sg_13 %}
                  <tr>
                         <td>{{ sg_13.time }}</td>  <td id='' value=''>{{ sg_13.failed7 }}</td> <td id='' value=''>{{ sg_13.failed8 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>
    </div>
</div>

<hr>
<br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-3" style="">FWSM Timeout GT 61491500050 diff carrier</div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-3">
            <a>FWSM timeout breakdown 1 GT 61491500050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="bd-mtfs-percentage" href="">Route TATA</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for sg_14 in cdrTable_sg_14 %}
                  <tr>
                         <td>{{ sg_14.time }}</td>  <td id='' value=''>{{ sg_14.failed1 }}</td> <td id='' value=''>{{ sg_14.failed2 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>
    </div>


    <div class="col-md-3">
            <a>FWSM timeout breakdown 2 GT 61491500050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="bd-mtfs-percentage" href="">Route iBasis</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for sg_14 in cdrTable_sg_14 %}
                  <tr>
                         <td>{{ sg_14.time }}</td>  <td id='' value=''>{{ sg_14.failed3 }}</td> <td id='' value=''>{{ sg_14.failed4 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>

    </div>
    <div class="col-md-3">
            <a>FWSM timeout breakdown 3 GT 61491500050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="bd-mtfs-percentage" href="">Route Comfone</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for sg_14 in cdrTable_sg_14 %}
                  <tr>
                         <td>{{ sg_14.time }}</td>  <td id='' value=''>{{ sg_14.failed5 }}</td> <td id='' value=''>{{ sg_14.failed6 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                    </table>
                </div>

    </div>
    <div class="col-md-3">
            <a>FWSM timeout breakdown 4 GT 61491500050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="bd-mtfs-percentage" href="">Route BICS</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for sg_14 in cdrTable_sg_14 %}
                  <tr>
                         <td>{{ sg_14.time }}</td>  <td id='' value=''>{{ sg_14.failed7 }}</td> <td id='' value=''>{{ sg_14.failed8 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>
    </div>
</div>


<hr>
<br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-3" style="">FWSM Timeout GT 3197015001050 diff carrier</div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-3">
            <a>FWSM timeout breakdown 1 GT 3197015001050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="sh-percentage" href="">Route TATA</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for sg_15 in cdrTable_sg_15 %}
                  <tr>
                         <td>{{ sg_15.time }}</td>  <td id='' value=''>{{ sg_15.failed1 }}</td> <td id='' value=''>{{ sg_15.failed2 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>
    </div>


    <div class="col-md-3">
            <a>FWSM timeout breakdown 2 GT 3197015001050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="sh-percentage" href="">Route iBasis</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for sg_15 in cdrTable_sg_15 %}
                  <tr>
                         <td>{{ sg_15.time }}</td>  <td id='' value=''>{{ sg_15.failed3 }}</td> <td id='' value=''>{{ sg_15.failed4 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>

    </div>
    <div class="col-md-3">
            <a>FWSM timeout breakdown 3 GT 3197015001050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="sh-percentage" href="">Route Comfone</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for sg_15 in cdrTable_sg_15 %}
                  <tr>
                         <td>{{ sg_15.time }}</td>  <td id='' value=''>{{ sg_15.failed5 }}</td> <td id='' value=''>{{ sg_15.failed6 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>

    </div>
    <div class="col-md-3">
            <a>FWSM timeout breakdown 4 GT 3197015001050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="sh-percentage" href="">Route BICS</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for sg_15 in cdrTable_sg_15 %}
                  <tr>
                         <td>{{ sg_15.time }}</td>  <td id='' value=''>{{ sg_15.failed7 }}</td> <td id='' value=''>{{ sg_15.failed8 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>
    </div>
</div>



<br>

<hr>
<br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-3" style="">FWSM Timeout GT 61491500050 diff carrier</div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-3">
            <a>FWSM timeout breakdown 1 GT 61491500050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="sh-percentage" href="">Route TATA</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for sg_16 in cdrTable_sg_16 %}
                  <tr>
                         <td>{{ sg_16.time }}</td>  <td id='' value=''>{{ sg_16.failed1 }}</td> <td id='' value=''>{{ sg_16.failed2 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>
    </div>


    <div class="col-md-3">
            <a>FWSM timeout breakdown 2 GT 61491500050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="sh-percentage" href="">Route iBasis</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for sg_16 in cdrTable_sg_16 %}
                  <tr>
                         <td>{{ sg_16.time }}</td>  <td id='' value=''>{{ sg_16.failed3 }}</td> <td id='' value=''>{{ sg_16.failed4 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>

    </div>
    <div class="col-md-3">
            <a>FWSM timeout breakdown 3 GT 61491500050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="sh-percentage" href="">Route Comfone</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for sg_16 in cdrTable_sg_16 %}
                  <tr>
                         <td>{{ sg_16.time }}</td>  <td id='' value=''>{{ sg_16.failed5 }}</td> <td id='' value=''>{{ sg_16.failed6 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                    </table>
                </div>

    </div>
    <div class="col-md-3">
            <a>FWSM timeout breakdown 4 GT 61491500050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="sh-percentage" href="">Route BICS</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for sg_16 in cdrTable_sg_16 %}
                  <tr>
                         <td>{{ sg_16.time }}</td>  <td id='' value=''>{{ sg_16.failed7 }}</td> <td id='' value=''>{{ sg_16.failed8 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                    </table>
                </div>
    </div>
</div>


<hr>
<br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-3" style="">FWSM Timeout GT 3197015001050 diff carrier</div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-3">
            <a>FWSM timeout breakdown 1 GT 3197015001050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="m1-percentage" href="">SMSC-2-EU4 Route TATA</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for sg_17 in cdrTable_sg_17 %}
                  <tr>
                         <td>{{ sg_17.time }}</td>  <td id='' value=''>{{ sg_17.failed1 }}</td> <td id='' value=''>{{ sg_17.failed2 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>
    </div>


    <div class="col-md-3">
            <a>FWSM timeout breakdown 2 GT 3197015001050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="m1-percentage" href="">SMSC-2-EU4 Route iBasis</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for sg_17 in cdrTable_sg_17 %}
                  <tr>
                         <td>{{ sg_17.time }}</td>  <td id='' value=''>{{ sg_17.failed3 }}</td> <td id='' value=''>{{ sg_17.failed4 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>

    </div>
    <div class="col-md-3">
            <a>FWSM timeout breakdown 3 GT 3197015001050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="m1-percentage" href="">SMSC-2-EU4 Route Comfone</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for sg_17 in cdrTable_sg_17 %}
                  <tr>
                         <td>{{ sg_17.time }}</td>  <td id='' value=''>{{ sg_17.failed5 }}</td> <td id='' value=''>{{ sg_17.failed6 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>

    </div>
    <div class="col-md-3">
            <a>FWSM timeout breakdown 4 GT 3197015001050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="m1-percentage" href="">SMSC-2-EU4 Route BICS</a>
                    <table class="table table-sm">
                       <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for sg_17 in cdrTable_sg_17 %}
                  <tr>
                         <td>{{ sg_17.time }}</td>  <td id='' value=''>{{ sg_17.failed7 }}</td> <td id='' value=''>{{ sg_17.failed8 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>
    </div>
</div>



<hr>
<br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-3" style="">FWSM Timeout GT 61491500050 diff carrier</div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-3">
            <a>FWSM timeout breakdown 1 GT 61491500050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="m1-percentage" href="">SMSC-2-EU4 Route TATA</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for sg_18 in cdrTable_sg_18 %}
                  <tr>
                         <td>{{ sg_18.time }}</td>  <td id='' value=''>{{ sg_18.failed1 }}</td> <td id='' value=''>{{ sg_18.failed2 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>
    </div>


    <div class="col-md-3">
            <a>FWSM timeout breakdown 2 GT 61491500050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="m1-percentage" href="">SMSC-2-EU4 Route iBasis</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for sg_18 in cdrTable_sg_18 %}
                  <tr>
                         <td>{{ sg_18.time }}</td>  <td id='' value=''>{{ sg_18.failed3 }}</td> <td id='' value=''>{{ sg_18.failed4 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>

    </div>
    <div class="col-md-3">
            <a>FWSM timeout breakdown 3 GT 61491500050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="m1-percentage" href="">SMSC-2-EU4 Route Comfone</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for sg_18 in cdrTable_sg_18 %}
                  <tr>
                         <td>{{ sg_18.time }}</td>  <td id='' value=''>{{ sg_18.failed5 }}</td> <td id='' value=''>{{ sg_18.failed6 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>

    </div>
    <div class="col-md-3">
            <a>FWSM timeout breakdown 4 GT 61491500050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="m1-percentage" href="">SMSC-2-EU4 Route BICS</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for sg_18 in cdrTable_sg_18 %}
                  <tr>
                         <td>{{ sg_18.time }}</td>  <td id='' value=''>{{ sg_18.failed7 }}</td> <td id='' value=''>{{ sg_18.failed8 }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>
    </div>
</div>








{% endblock  %}