{% extends 'crm/base.html' %}


{% block content %}



{% include 'crm/status.html' %}
<br>
<h1>SG new version</h1>
<hr>

  <div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-3" style=""></div>
    </div>
</div>



  <div class="row">
      <div class="col-md-3">
          <a >Success Percentage</a>
          <hr>
          <div class="card card-body">
              <a class="btn btn-primary  btn-sm btn-block" id="suc-percentage"  href="">Total success</a>
                <table class="table table-sm">
                  <tr>
                      <th>Time</th>
                      <th>Total</th>
                      <th>Success</th>
                      <th>Failed</th>
                      <th>Success Rate</th>
                  </tr>
                       {% for 1a in row1_sg_1a %}
                  <tr>
                         <td>{{ 1a.time }}</td>  <td id='' value=''>{{ 1a.total }}</td>  <td id='' value=''>{{ 1a.success }}</td>    <td>{{ 1a.failed }}</td>  <td><span id=successPer_min0_smsc_2_eu4></span></td>
                    </tr>
                       {% endfor %}
                </table>
          </div>
      </div>

      <div class="col-md-2">
          <a>All MNOs</a>
          <hr>
          <div class="card card-body">
              <a class="btn btn-primary  btn-sm btn-block" id="sri-percentage" href="">SRI Failures </a>
              <table class="table table-sm">
                  <tr>
                      <th>Time</th>
                      <th>Timeout</th>
                  </tr>
                       {% for 1b in row1_sg_1b %}
                  <tr>
                         <td>{{ 1b.time }}</td>  <td id='' value=''>{{ 1b.total }}</td>
                    </tr>
                       {% endfor %}
              </table>
          </div>
      </div>
      <div class="col-md-2">
            <a>SingTel MT 52501</a>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" id="row1-3" href="">MT Failures</a>
                <table class="table table-sm">
                    <tr>
                        <th>Time</th>
                        <th>Timeout</th>
                        <th>Sys_Fail</th>
                    </tr>
                       {% for 1c in row1_sg_1c %}
                  <tr>
                         <td>{{ 1c.time }}</td>  <td id='' value=''>{{ 1c.total }}</td> <td id='' value=''>{{ 1c.failed }}</td>
                    </tr>
                       {% endfor %}
              </table>
            </div>
        </div>


        <div class="col-md-2">
                <a>M1 MT 52503</a>
                <hr>
                <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="row1-4" href="">MT Failuress</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for 1d in row1_sg_1d %}
                  <tr>
                         <td>{{ 1d.time }}</td>  <td id='' value=''>{{ 1d.total }}</td> <td id='' value=''>{{ 1d.failed }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>
            </div>


            <div class="col-md-2">
                    <a>StarHub MT 52505</a>
                    <hr>
                    <div class="card card-body">
                        <a class="btn btn-primary  btn-sm btn-block" id="row1-5" href="">MTFS Failures</a>
                        <table class="table table-sm">
                            <tr>
                                <th>Time</th>
                                <th>Timeout</th>
                                <th>Sys_Fail</th>
                           </tr>
                       {% for 1e in row1_sg_1e %}
                  <tr>
                         <td>{{ 1e.time }}</td>  <td id='' value=''>{{ 1e.total }}</td> <td id='' value=''>{{ 1e.failed }}</td>
                    </tr>
                       {% endfor %}
              </table>
                    </div>
                </div>
  </div>

<hr>
<br>
<br>


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-3" style="">Route 6995 GT 3197015001050 Concat SMS</div>
    </div>
</div>

<br>
<div class="row">
        <div class="col-md-3">
                <a>SRI timeout breakdown 1 GT 3197015001050</a>
                <div class="card card-body">
                        <a class="btn btn-primary  btn-sm btn-block" id="bd-sri-percentage" href="">Route TATA</a>
                        <table class="table table-sm">
                            <tr>
                      <th>Time</th>
                      <th>Timeout</th>
                  </tr>
                       {% for 2a in row1_sg_2a %}
                  <tr>
                         <td>{{ 2a.time }}</td>  <td id='' value=''>{{ 2a.total }}</td>
                    </tr>
                       {% endfor %}
              </table>
                    </div>

        </div>
        <div class="col-md-3">
                <a>SRI timeout breakdown 2 GT 3197015001050</a>
                <div class="card card-body">
                        <a class="btn btn-primary  btn-sm btn-block" id="bd-sri-percentage" href="">Route iBasis</a>
                        <table class="table table-sm">
                             <tr>
                      <th>Time</th>
                      <th>Timeout</th>
                  </tr>
                       {% for 2b in row1_sg_2b %}
                  <tr>
                         <td>{{ 2b.time }}</td>  <td id='' value=''>{{ 2b.total }}</td>
                    </tr>
                       {% endfor %}
              </table>
                    </div>

        </div>
        <div class="col-md-3">
                <a>SRI timeout breakdown 3 GT 3197015001050</a>
                <div class="card card-body">
                        <a class="btn btn-primary  btn-sm btn-block" id="bd-sri-percentage" href="">Route Comfone</a>
                        <table class="table table-sm">
                            <tr>
                      <th>Time</th>
                      <th>Timeout</th>
                  </tr>
                       {% for 2c in row1_sg_2c %}
                  <tr>
                         <td>{{ 2c.time }}</td>  <td id='' value=''>{{ 2c.total }}</td>
                    </tr>
                       {% endfor %}
              </table>
                    </div>

        </div>
        <div class="col-md-3">
                <a>SRI timeout breakdown 4 GT 3197015001050</a>
                <div class="card card-body">
                        <a class="btn btn-primary  btn-sm btn-block" id="bd-sri-percentage" href="">Route BICS</a>
                        <table class="table table-sm">
                            <tr>
                      <th>Time</th>
                      <th>Timeout</th>
                  </tr>
                       {% for 2d in row1_sg_2d %}
                  <tr>
                         <td>{{ 2d.time }}</td>  <td id='' value=''>{{ 2d.total }}</td>
                    </tr>
                       {% endfor %}
              </table>
                    </div>
        </div>
</div>
<hr>
<br>
<br>

<div class="row">
        <div class="col-md-3">
                <a>SRI timeout breakdown 1 GT 61491500050</a>
                <div class="card card-body">
                        <a class="btn btn-primary  btn-sm btn-block" id="bd-sri-percentage" href="">Route TATA</a>
                        <table class="table table-sm">
                            <tr>
                      <th>Time</th>
                      <th>Timeout</th>
                  </tr>
                       {% for 3a in row1_sg_3a %}
                  <tr>
                         <td>{{ 3a.time }}</td>  <td id='' value=''>{{ 3a.total }}</td>
                    </tr>
                       {% endfor %}
              </table>
                    </div>

        </div>
        <div class="col-md-3">
                <a>SRI timeout breakdown 2 GT 61491500050</a>
                <div class="card card-body">
                        <a class="btn btn-primary  btn-sm btn-block" id="bd-sri-percentage" href="">Route iBasis</a>
                        <table class="table table-sm">
                             <tr>
                      <th>Time</th>
                      <th>Timeout</th>
                  </tr>
                       {% for 3b in row1_sg_3b %}
                  <tr>
                         <td>{{ 3b.time }}</td>  <td id='' value=''>{{ 3b.total }}</td>
                    </tr>
                       {% endfor %}
              </table>
                    </div>

        </div>
        <div class="col-md-3">
                <a>SRI timeout breakdown 3 GT 61491500050</a>
                <div class="card card-body">
                        <a class="btn btn-primary  btn-sm btn-block" id="bd-sri-percentage" href="">Route Comfone</a>
                        <table class="table table-sm">
                             <tr>
                      <th>Time</th>
                      <th>Timeout</th>
                  </tr>
                       {% for 3c in row1_sg_3c %}
                  <tr>
                         <td>{{ 3c.time }}</td>  <td id='' value=''>{{ 3c.total }}</td>
                    </tr>
                       {% endfor %}
              </table>
                    </div>

        </div>
        <div class="col-md-3">
                <a>SRI timeout breakdown 4 GT 61491500050</a>
                <div class="card card-body">
                        <a class="btn btn-primary  btn-sm btn-block" id="bd-sri-percentage" href="">Route BICS</a>
                        <table class="table table-sm">
                             <tr>
                      <th>Time</th>
                      <th>Timeout</th>
                  </tr>
                       {% for 3d in row1_sg_3d %}
                  <tr>
                         <td>{{ 3d.time }}</td>  <td id='' value=''>{{ 3d.total }}</td>
                    </tr>
                       {% endfor %}
              </table>
                    </div>
        </div>
</div>



<div class="row">
    <div class="col-md-3">
            <a>FWSM timeout breakdown 1 GT 3197015001050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="bd-mtfs-percentage" href="">Route TATA</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for 4a in row1_sg_4a %}
                  <tr>
                         <td>{{ 4a.time }}</td>  <td id='' value=''>{{ 4a.total }}</td> <td id='' value=''>{{ 4a.failed }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>
    </div>


    <div class="col-md-3">
            <a>FWSM timeout breakdown 2 GT 3197015001050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="bd-mtfs-percentage" href="">Route iBasis</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for 4b in row1_sg_4b %}
                  <tr>
                         <td>{{ 4b.time }}</td>  <td id='' value=''>{{ 4b.total }}</td> <td id='' value=''>{{ 4b.failed }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>

    </div>
    <div class="col-md-3">
            <a>FWSM timeout breakdown 3 GT 3197015001050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="bd-mtfs-percentage" href="">Route Comfone</a>
                    <table class="table table-sm">
                         <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for 4c in row1_sg_4c %}
                  <tr>
                         <td>{{ 4c.time }}</td>  <td id='' value=''>{{ 4c.total }}</td> <td id='' value=''>{{ 4c.failed }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>

    </div>
    <div class="col-md-3">
            <a>FWSM timeout breakdown 4 GT 3197015001050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="bd-mtfs-percentage" href="">Route BICS</a>
                    <table class="table table-sm">
                         <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for 4d in row1_sg_4d %}
                  <tr>
                         <td>{{ 4d.time }}</td>  <td id='' value=''>{{ 4d.total }}</td> <td id='' value=''>{{ 4d.failed }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>
    </div>
</div>



<div class="row">
    <div class="col-md-3">
            <a>FWSM timeout breakdown 1 GT 61491500050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="bd-mtfs-percentage" href="">Route TATA</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for 5a in row1_sg_5a %}
                  <tr>
                         <td>{{ 5a.time }}</td>  <td id='' value=''>{{ 5a.total }}</td> <td id='' value=''>{{ 5a.failed }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>
    </div>


    <div class="col-md-3">
            <a>FWSM timeout breakdown 2 GT 61491500050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="bd-mtfs-percentage" href="">Route iBasis</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for 5b in row1_sg_5b %}
                  <tr>
                         <td>{{ 5b.time }}</td>  <td id='' value=''>{{ 5b.total }}</td> <td id='' value=''>{{ 5b.failed }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>

    </div>
    <div class="col-md-3">
            <a>FWSM timeout breakdown 3 GT 61491500050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="bd-mtfs-percentage" href="">Route Comfone</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for 5c in row1_sg_5c %}
                  <tr>
                         <td>{{ 5c.time }}</td>  <td id='' value=''>{{ 5c.total }}</td> <td id='' value=''>{{ 5c.failed }}</td>
                    </tr>
                       {% endfor %}
              </table>
                    </table>
                </div>

    </div>
    <div class="col-md-3">
            <a>FWSM timeout breakdown 4 GT 61491500050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="bd-mtfs-percentage" href="">Route BICS</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for 5d in row1_sg_5d %}
                  <tr>
                         <td>{{ 5d.time }}</td>  <td id='' value=''>{{ 5d.total }}</td> <td id='' value=''>{{ 5d.failed }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>
    </div>
</div>




<div class="row">
    <div class="col-md-3">
            <a>FWSM timeout breakdown 1 GT 3197015001050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="sh-percentage" href="">Route TATA</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for 6a in row1_sg_6a %}
                  <tr>
                         <td>{{ 6a.time }}</td>  <td id='' value=''>{{ 6a.total }}</td> <td id='' value=''>{{ 6a.failed }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>
    </div>


    <div class="col-md-3">
            <a>FWSM timeout breakdown 2 GT 3197015001050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="sh-percentage" href="">Route iBasis</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for 6b in row1_sg_6b %}
                  <tr>
                         <td>{{ 6b.time }}</td>  <td id='' value=''>{{ 6b.total }}</td> <td id='' value=''>{{ 6b.failed }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>

    </div>
    <div class="col-md-3">
            <a>FWSM timeout breakdown 3 GT 3197015001050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="sh-percentage" href="">Route Comfone</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for 6c in row1_sg_6c %}
                  <tr>
                         <td>{{ 6c.time }}</td>  <td id='' value=''>{{ 6c.total }}</td> <td id='' value=''>{{ 6c.failed }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>

    </div>
    <div class="col-md-3">
            <a>FWSM timeout breakdown 4 GT 3197015001050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="sh-percentage" href="">Route BICS</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for 6d in row1_sg_6d %}
                  <tr>
                         <td>{{ 6d.time }}</td>  <td id='' value=''>{{ 6d.total }}</td> <td id='' value=''>{{ 6d.failed }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>
    </div>
</div>



<br>

<div class="row">
    <div class="col-md-3">
            <a>FWSM timeout breakdown 1 GT 61491500050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="sh-percentage" href="">Route TATA</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for 7a in row1_sg_7a %}
                  <tr>
                         <td>{{ 7a.time }}</td>  <td id='' value=''>{{ 7a.total }}</td> <td id='' value=''>{{ 7a.failed }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>
    </div>


    <div class="col-md-3">
            <a>FWSM timeout breakdown 2 GT 61491500050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="sh-percentage" href="">Route iBasis</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for 7b in row1_sg_7b %}
                  <tr>
                         <td>{{ 7b.time }}</td>  <td id='' value=''>{{ 7b.total }}</td> <td id='' value=''>{{ 7b.failed }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>

    </div>
    <div class="col-md-3">
            <a>FWSM timeout breakdown 3 GT 61491500050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="sh-percentage" href="">Route Comfone</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                      <th>Time</th>
                      <th>Timeout</th>
                  </tr>
                       {% for 7c in row1_sg_7c %}
                  <tr>
                         <td>{{ 7c.time }}</td>  <td id='' value=''>{{ 7c.total }}</td> <td id='' value=''>{{ 7c.failed }}</td>
                    </tr>
                       {% endfor %}
              </table>
                    </table>
                </div>

    </div>
    <div class="col-md-3">
            <a>FWSM timeout breakdown 4 GT 61491500050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="sh-percentage" href="">Route BICS</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for 7d in row1_sg_7d %}
                  <tr>
                         <td>{{ 7d.time }}</td>  <td id='' value=''>{{ 7d.total }}</td> <td id='' value=''>{{ 7d.failed }}</td>
                    </tr>
                       {% endfor %}
              </table>
                    </table>
                </div>
    </div>
</div>




<div class="row">
    <div class="col-md-3">
            <a>FWSM timeout breakdown 1 GT 3197015001050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="m1-percentage" href="">SMSC-2-EU4 Route TATA</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for 8a in row1_sg_8a %}
                  <tr>
                         <td>{{ 8a.time }}</td>  <td id='' value=''>{{ 8a.total }}</td> <td id='' value=''>{{ 8a.failed }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>
    </div>


    <div class="col-md-3">
            <a>FWSM timeout breakdown 2 GT 3197015001050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="m1-percentage" href="">SMSC-2-EU4 Route iBasis</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for 8b in row1_sg_8b %}
                  <tr>
                         <td>{{ 8b.time }}</td>  <td id='' value=''>{{ 8b.total }}</td> <td id='' value=''>{{ 8b.failed }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>

    </div>
    <div class="col-md-3">
            <a>FWSM timeout breakdown 3 GT 3197015001050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="m1-percentage" href="">SMSC-2-EU4 Route Comfone</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for 8c in row1_sg_8c %}
                  <tr>
                         <td>{{ 8c.time }}</td>  <td id='' value=''>{{ 8c.total }}</td> <td id='' value=''>{{ 8c.failed }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>

    </div>
    <div class="col-md-3">
            <a>FWSM timeout breakdown 4 GT 3197015001050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="m1-percentage" href="">SMSC-2-EU4 Route BICS</a>
                    <table class="table table-sm">
                       <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for 8d in row1_sg_8d %}
                  <tr>
                         <td>{{ 8d.time }}</td>  <td id='' value=''>{{ 8d.total }}</td> <td id='' value=''>{{ 8d.failed }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>
    </div>
</div>




<br>

<div class="row">
    <div class="col-md-3">
            <a>FWSM timeout breakdown 1 GT 61491500050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="m1-percentage" href="">SMSC-2-EU4 Route TATA</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for 9a in row1_sg_9a %}
                  <tr>
                         <td>{{ 9a.time }}</td>  <td id='' value=''>{{ 9a.total }}</td> <td id='' value=''>{{ 9a.failed }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>
    </div>


    <div class="col-md-3">
            <a>FWSM timeout breakdown 2 GT 61491500050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="m1-percentage" href="">SMSC-2-EU4 Route iBasis</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for 9b in row1_sg_9b %}
                  <tr>
                         <td>{{ 9b.time }}</td>  <td id='' value=''>{{ 9b.total }}</td> <td id='' value=''>{{ 9bb.failed }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>

    </div>
    <div class="col-md-3">
            <a>FWSM timeout breakdown 3 GT 61491500050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="m1-percentage" href="">SMSC-2-EU4 Route Comfone</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for 9c in row1_sg_9c %}
                  <tr>
                         <td>{{ 9c.time }}</td>  <td id='' value=''>{{ 9c.total }}</td> <td id='' value=''>{{ 9c.failed }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>

    </div>
    <div class="col-md-3">
            <a>FWSM timeout breakdown 4 GT 61491500050</a>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" id="m1-percentage" href="">SMSC-2-EU4 Route BICS</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Time</th>
                            <th>Timeout</th>
                            <th>Sys_Fail</th>
                        </tr>
                       {% for 9d in row1_sg_9d %}
                  <tr>
                         <td>{{ 9d.time }}</td>  <td id='' value=''>{{ 9d.total }}</td> <td id='' value=''>{{ 9d.failed }}</td>
                    </tr>
                       {% endfor %}
              </table>
                </div>
    </div>
</div>








{% include 'crm/jquery.html' %}


{% endblock  %}