{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}


<br>

  
<form class="" action="testform/" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="btn btn-large btn-primary" type="Submit" name="reset" value="Reset"/>
      </form>

<br>


<form class="" action="testform/" method='POST'> {% csrf_token %}
  {{ form.as_p }} 
  <label for="cars">Choose a date:</label>
  <select name="date" id="cars">
    <option value="0">Current</option>
    <option value="-1">One hour Ago</option>
    <option value="-2">Two hours ago</option>
    <option value="examplefile">examplefile</option>
  </select><br><br>
<input type="text" name="NetworkID" placeholder="NetworkID" /><br><br>


<label for="smsc">Choose a system:</label>
<select name="smsc" id="smsc">
<option value="smsc-1-eu1-prod">smsc-1-eu1-prod</option>
<option value="smsc-2-eu4-prod">smsc-2-eu1-prod</option>
<option value="smsc-1-eu4-prod">smsc-1-eu4-prod</option>
<option value="smsc-2-eu4-prod">smsc-2-eu4-prod</option>
</select><br><br>

<input type="submit" value="Run" />

</form>
