
body {
    background-color: lightblue;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }



table th {
    text-align: left;
}

table td {
    border: 1px solid #e3e3e3;
    padding: 4px 8px;
}